html, body{
	height: 100vh;
	width:100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#body-container{
	min-height:100%;
	margin-bottom: -10px;
}

#upload-section{
	margin:0 auto;
	padding-top: 10px;
}

#image-upload{
	width:50vw;
	height:auto;
	padding-bottom:2vw;
	/* margin-left:0px; */
}

#image-file{
	padding:2vw;
}

#sticker{
	max-height:75%;
	width:75%;
}



#square-img{
	 left: 11%;
	/*top:16%; */
	max-width:80%;
	max-height:100%;
}

#footer.control, .push{
	width:100%;
	height:20px;
}

#login-form{
	width:90vw;
	padding: 10vw;
}

#prof-form-div{
	margin-left: 0;
	overflow: hidden;
	width: 80%;
}

#registration-form{
	width: 85vw;
	padding: 10%;
}

/* #profile-form{
	width:90vw;
	padding: 2%;
	size: 90vw;
} */

#image-grid{
	width:100;
}

#navnav{
	width:100vw;
}

/* #gallery-pics{
	width:17vw;
	height: 15vw;
} */

#video-container{
width: 65vw;
height:50vh;
}


#video{
	min-width: 70%;
	min-height: auto;
	text-align: center;
	margin: auto;
	box-sizing: border-box;

}

#vid-canvas{
	min-width: 70%;
	min-height: auto;
	margin: auto;
	display: none;
	text-align: center;
	box-sizing: border-box;
}

 #vid-divs{
	top:10;
	width:100vw;
	height: auto;
}

#image-upload{
display: none;
}

li{
	padding-left: 3px;
	padding-right: 3px;
}

.pagination{
	padding-top: 10px;
}
#pagination{
	width: 94vw;
	padding: 5px;
	margin: auto;
}

#comments{
	width:100%;
	height: 100px;
	overflow: auto;
}

.textarea{
	height:20%;
}
